@import 'node_modules/bootstrap/scss/bootstrap';

@import "fonts";
@import "variables";
@import "reset";

@import "home";
@import "data";
@import "display";

html, body {
    margin: 0;
    padding: 0;
    border: 0;
}
  
body {
    color: $color-white;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/bg-image.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: $font-family-montserrat;
}